
#section-1{
	padding-bottom:20px;
	display:flex;
	justify-content:space-around;
	margin:50px 0px;
}

.card{
	width:25%;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.4);
	border-radius:6px;
	background: white;
}

.container{
	padding: 5px 20px; 
	padding-top:20px;

}
.container p{
	margin: 15px 0;

}
img{
	border-radius: 6px 6px 0 0;
	width:100%;	
}
.card p{
	font-size:19px;
}

#otobiyografi{
	margin-left:20px;
	margin-right:30px;
	padding-top:30px;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.4);
	width:95%;
}
#otobiyografi p{
	margin:20px 0px;
	
}
.sarki {
    margin-bottom: 30px;
}
.sarki ul {
     margin-top: 0;
    }

.sarki li {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.baslık {
    margin-left:30px;
	margin-right:30px;
}
#hobi{
    margin-left:20px;
	margin-right:30px;
	padding-top:30px;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.4);
	width:95%;
}
