@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(81,81,87,1) 54%);
}

/* İletişim Formu Stili */
#app {
	max-width: 600px;
	margin: 0 auto;
	padding: 30px;
	padding-top:100px;
	box-shadow: 0 5px 9px 0 rgba(0,0,0,0.4);
 }
  
  #app h1 {
	text-align: center;
	padding:30px;
	border: 5px outset red;

  }
  
  #app form {
	margin-top: 20px;
  }
  
  #app input[type="text"],
  #app input[type="email"],
  #app textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
  }
  
  #app button[type="submit"],
  #app button[type="button"] {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;

  }
  
  #app button[type="submit"]:hover,
  #app button[type="button"]:hover {
	background-color: #555;
  }
  
  #app div {
	margin-top: 20px;
	border: 1px solid #333;
	padding: 10px;
  }
  
  #app div h2 {
	margin-bottom: 10px;
  }
  
  #app div p {
	margin-bottom: 5px;
  }
  .footer{
	width: 100%;
	text-align: center;
	background: #39393c;
	padding: 50px 50px;
	margin-top:100px;
}

.footer a{
	color: #fff;
}
@media (max-width: 768px) {
  #app {
    padding-top: 150px;
  }
  .footer{
	margin-top:100px;  
  }
}
